@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* #region Theme Variables */
@theme {
  --color-gray-950: #171717;
  --color-gray-900: #1C1C1C;
  --color-gray-800: #292929;
  --color-gray-700: #333333;
  --color-gray-600: #5C5C5C;
  --color-gray-500: #7B7B7B;
  --color-gray-400: #A3A3A3;
  --color-gray-300: #D1D1D1;
  --color-gray-200: #EBEBEB;
  --color-gray-100: #F5F5F5;
  --color-gray-50: #F7F7F7;
  --color-gray-0: #FFFFFF;

  --color-orange-950: #71330a;
  --color-orange-900: #96440d;
  --color-orange-800: #b75310;
  --color-orange-700: #ce5e12;
  --color-orange-600: #e16614;
  --color-orange-500: #fa7319;
  --color-orange-400: #ffa468;
  --color-orange-300: #ffc197;
  --color-orange-200: #ffd9c0;
  --color-orange-100: #ffe6d5;
  --color-orange-50: #fff3eb;
  --color-orange-alpha-24: #ff91473d;
  --color-orange-alpha-16: #ff914729;
  --color-orange-alpha-10: #ff91471a;

  --color-red-950: #681219;
  --color-red-900: #8b1822;
  --color-red-800: #ad1f2b;
  --color-red-700: #d02533;
  --color-red-600: #e93544;
  --color-red-500: #fb3748;
  --color-red-400: #ff6875;
  --color-red-300: #ff97a0;
  --color-red-200: #ffc0c5;
  --color-red-100: #ffd5d8;
  --color-red-50: #ffebec;
  --color-red-alpha-24: #fb37483d;
  --color-red-alpha-16: #fb374829;
  --color-red-alpha-10: #fb37481a;

  /* Primary */
  --color-primary-darker: var(--color-orange-800);
  --color-primary-dark: var(--color-orange-700);
  --color-primary-base: var(--color-orange-500);
  --color-primary-light: var(--color-orange-200);
  --color-primary-lighter: var(--color-orange-50);

  /* Background */
  --color-bg-strong-950: var(--tw-light, var(--color-gray-950)) var(--tw-dark, var(--color-gray-0));
  --color-bg-surface-800: var(--tw-light, var(--color-gray-800)) var(--tw-dark, var(--color-gray-200));
  --color-bg-sub-300: var(--tw-light, var(--color-gray-300)) var(--tw-dark, var(--color-gray-600));
  --color-bg-soft-200: var(--tw-light, var(--color-gray-200)) var(--tw-dark, var(--color-gray-700));
  --color-bg-weak-50: var(--tw-light, var(--color-gray-50)) var(--tw-dark, var(--color-gray-900));
  --color-bg-white-0: var(--tw-light, var(--color-gray-0)) var(--tw-dark, var(--color-gray-950));

  /* Text */
  --color-text-strong-950: var(--tw-light, var(--color-gray-950)) var(--tw-dark, var(--color-gray-0));
  --color-text-sub-600: var(--tw-light, var(--color-gray-600)) var(--tw-dark, var(--color-gray-400));
  --color-text-soft-400: var(--tw-light, var(--color-gray-400)) var(--tw-dark, var(--color-gray-500));
  --color-text-disabled-300: var(--tw-light, var(--color-gray-300)) var(--tw-dark, var(--color-gray-600));
  --color-text-white-0: var(--tw-light, var(--color-gray-0)) var(--tw-dark, var(--color-gray-950));

  /* Stroke */
  --color-stroke-strong-950: var(--tw-light, var(--color-gray-950)) var(--tw-dark, var(--color-gray-0));
  --color-stroke-sub-300: var(--tw-light, var(--color-gray-300)) var(--tw-dark, var(--color-gray-600));
  --color-stroke-soft-200: var(--tw-light, var(--color-gray-200)) var(--tw-dark, var(--color-gray-700));
  --color-stroke-white-0: var(--tw-light, var(--color-gray-0)) var(--tw-dark, var(--color-gray-950));

  --color-static-black: #000000;
  --color-static-white: #FFFFFF;

  /* Paragraph */
  --text-paragraph-xl: 1.5rem;
  --text-paragraph-xl--line-height: 2rem;
  --text-paragraph-xl--letter-spacing: -0.015em;
  --text-paragraph-xl--font-weight: 400;
  --text-paragraph-lg: 1.125rem;
  --text-paragraph-lg--line-height: 1.5rem;
  --text-paragraph-lg--letter-spacing: -0.015em;
  --text-paragraph-lg--font-weight: 400;
  --text-paragraph-md: 1rem;
  --text-paragraph-md--line-height: 1.5rem;
  --text-paragraph-md--letter-spacing: -0.011em;
  --text-paragraph-md--font-weight: 400;
  --text-paragraph-sm: 0.875rem;
  --text-paragraph-sm--line-height: 1.25rem;
  --text-paragraph-sm--letter-spacing: -0.006em;
  --text-paragraph-sm--font-weight: 400;
  --text-paragraph-xs: 0.75rem;
  --text-paragraph-xs--line-height: 1rem;
  --text-paragraph-xs--letter-spacing: 0em;
  --text-paragraph-xs--font-weight: 400;

  /* Subheading */
  --text-subheading-md: 1rem;
  --text-subheading-md--line-height: 1.5rem;
  --text-subheading-md--letter-spacing: 0.06em;
  --text-subheading-md--font-weight: 500;
  --text-subheading-sm: 0.875rem;
  --text-subheading-sm--line-height: 1.25rem;
  --text-subheading-sm--letter-spacing: 0.06em;
  --text-subheading-sm--font-weight: 500;
  --text-subheading-xs: 0.75rem;
  --text-subheading-xs--line-height: 1rem;
  --text-subheading-xs--letter-spacing: 0.04em;
  --text-subheading-xs--font-weight: 500;
  --text-subheading-2xs: 0.6875rem;
  --text-subheading-2xs--line-height: 0.75rem;
  --text-subheading-2xs--letter-spacing: 0.02em;
  --text-subheading-2xs--font-weight: 500;

  /* Documentation */
  --text-doc-label: 1.125rem;
  --text-doc-label--line-height: 2rem;
  --text-doc-label--letter-spacing: -0.015em;
  --text-doc-label--font-weight: 500;
  --text-doc-paragraph: 1.125rem;
  --text-doc-paragraph--line-height: 2rem;
  --text-doc-paragraph--letter-spacing: -0.015em;
  --text-doc-paragraph--font-weight: 400;

  --shadow-regular-xs: 0px 1px 2px 0px #0a0d1408;
  --shadow-regular-sm: 0px 2px 4px 0px #1b1c1d0a;
  --shadow-regular-md: 0px 16px 32px -12px #0e121b1a;
  --shadow-button-primary-focus: 0px 0px 0px 2px var(--color-bg-white-0), 0px 0px 0px 4px var(--color-gray-alpha-10);
  --shadow-button-important-focus:
    0px 0px 0px 2px var(--color-bg-white-0), 0px 0px 0px 4px var(--color-primary-alpha-16);
  --shadow-button-error-focus: 0px 0px 0px 2px var(--color-bg-white-0), 0px 0px 0px 4px var(--color-red-alpha-10);
  --shadow-fancy-buttons-neutral: 0px 1px 2px 0px #1b1c1d7a, 0px 0px 0px 1px #242628;
  --shadow-fancy-buttons-primary: 0px 1px 2px 0px #0e121b3d, 0px 0px 0px 1px var(--color-primary-base);
  --shadow-fancy-buttons-error: 0px 1px 2px 0px #0e121b3d, 0px 0px 0px 1px var(--color-error-base);
  --shadow-fancy-buttons-stroke: 0px 1px 3px 0px #0e121b1f, 0px 0px 0px 1px var(--color-stroke-soft-200);
  --shadow-toggle-switch: 0px 6px 10px 0px #0e121b0f, 0px 2px 4px 0px #0e121b08;
  --shadow-switch-thumb: 0px 4px 8px 0px #1b1c1d0f, 0px 2px 4px 0px #0e121b14;
  --shadow-tooltip: 0px 12px 24px 0px #0e121b0f, 0px 1px 2px 0px #0e121b08;
  --shadow-branding-neutral:
    0px 19px 8px rgb(31 31 31 / 1%), 0px 11px 6px rgb(31 31 31 / 4%), 0px 5px 5px rgb(31 31 31 / 7%),
    0px 1px 3px rgb(31 31 31 / 8%), 0px 0px 0px 1px #292929, inset 0px -0.5px 0.5px hsl(0deg 0% 100% / 24%),
    inset 0px -0.5px 0.5px hsl(0deg 0% 100% / 24%);

  --radius-10: 0.625rem;
  --radius-20: 1.25rem;

  --font-sans: 'IBM Plex Sans Thai', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-display: 'Reddit Sans', sans-serif;
}
/* #endregion Theme Variables */

/* #region Animation */
@theme inline {
  --animation-delay-0: 0s;
  --animation-delay-75: 75ms;
  --animation-delay-100: 0.1s;
  --animation-delay-150: 0.15s;
  --animation-delay-200: 0.2s;
  --animation-delay-300: 0.3s;
  --animation-delay-500: 0.5s;
  --animation-delay-700: 0.7s;
  --animation-delay-1000: 1s;
  --animation-repeat-0: 0;
  --animation-repeat-1: 1;
  --animation-repeat-infinite: infinite;
  --animation-direction-normal: normal;
  --animation-direction-reverse: reverse;
  --animation-direction-alternate: alternate;
  --animation-direction-alternate-reverse: alternate-reverse;
  --animation-fill-mode-none: none;
  --animation-fill-mode-forwards: forwards;
  --animation-fill-mode-backwards: backwards;
  --animation-fill-mode-both: both;
  --animate-in: var(--tw-duration, 150ms) var(--tw-ease, ease) enter;
  --animate-out: var(--tw-duration, 150ms) var(--tw-ease, ease) exit;
  --percentage-0: 0;
  --percentage-5: 0.05;
  --percentage-10: 0.1;
  --percentage-15: 0.15;
  --percentage-20: 0.2;
  --percentage-25: 0.25;
  --percentage-30: 0.3;
  --percentage-35: 0.35;
  --percentage-40: 0.4;
  --percentage-45: 0.45;
  --percentage-50: 0.5;
  --percentage-55: 0.55;
  --percentage-60: 0.6;
  --percentage-65: 0.65;
  --percentage-70: 0.7;
  --percentage-75: 0.75;
  --percentage-80: 0.8;
  --percentage-85: 0.85;
  --percentage-90: 0.9;
  --percentage-95: 0.95;
  --percentage-100: 1;

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1)
        )
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(
          var(--tw-exit-translate-x, 0),
          var(--tw-exit-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1)
        )
        rotate(var(--tw-exit-rotate, 0));
    }
  }

  --animate-accordion-down: accordion-down var(--tw-duration, 200ms) ease-out;
  --animate-accordion-up: accordion-up var(--tw-duration, 200ms) ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(
        --radix-accordion-content-height,
        --bits-accordion-content-height
      );
    }
  }

  @keyframes accordion-up {
    from {
      height: var(
        --radix-accordion-content-height,
        --bits-accordion-content-height
      );
    }

    to {
      height: 0;
    }
  }
}

@utility delay-* {
  animation-delay: calc(--value(number) * 1ms);
  animation-delay: --value(--animation-delay- *, [duration], [ *]);
}

@utility repeat-* {
  animation-iteration-count: --value(--animation-repeat- *, integer);
}

@utility direction-* {
  animation-direction: --value(--animation-direction- *);
}

@utility fill-mode-* {
  animation-fill-mode: --value(--animation-fill-mode- *);
}

@utility running {
  animation-play-state: running;
}

@utility paused {
  animation-play-state: paused;
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-in-* {
  --tw-enter-opacity: --value(--percentage- *, [ *]);
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility fade-out-* {
  --tw-exit-opacity: --value(--percentage- *, [ *]);
}

@utility zoom-in {
  --tw-enter-scale: 0;
}

@utility zoom-in-* {
  --tw-enter-scale: calc(--value([percentage]) / 100%);
  --tw-enter-scale: calc(--value([ratio], [number]));
  --tw-enter-scale: --value(--percentage- *);
}

@utility zoom-out {
  --tw-exit-scale: 0;
}

@utility zoom-out-* {
  --tw-exit-scale: calc(--value([percentage]) / 100%);
  --tw-exit-scale: calc(--value([ratio], [number]));
  --tw-exit-scale: --value(--percentage- *);
}

@utility spin-in {
  --tw-enter-rotate: 30deg;
}

@utility spin-in-* {
  --tw-enter-rotate: calc(--value(number) * 1deg);
  --tw-enter-rotate: --value(--rotate- *, [angle]);
}

@utility spin-out {
  --tw-exit-rotate: 30deg;
}

@utility spin-out-* {
  --tw-exit-rotate: calc(--value(number) * 1deg);
  --tw-exit-rotate: --value(--rotate- *, [angle]);
}

@utility slide-in-from-top {
  --tw-enter-translate-y: -100%;
}

@utility slide-in-from-top-* {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1);
  --tw-enter-translate-y: calc(
    --value(--translate- *, [percentage], ratio, [length]) * -1
  );
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-in-from-bottom-* {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing));
  --tw-enter-translate-y: --value(
    --translate- *,
    [percentage],
    ratio,
    [length]
  );
}

@utility slide-in-from-left {
  --tw-enter-translate-x: -100%;
}

@utility slide-in-from-left-* {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing) * -1);
  --tw-enter-translate-x: calc(
    --value(--translate- *, [percentage], ratio, [length]) * -1
  );
}

@utility slide-in-from-right {
  --tw-enter-translate-x: 100%;
}

@utility slide-in-from-right-* {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing));
  --tw-enter-translate-x: --value(
    --translate- *,
    [percentage],
    ratio,
    [length]
  );
}

@utility slide-out-to-top {
  --tw-exit-translate-y: -100%;
}

@utility slide-out-to-top-* {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1);
  --tw-exit-translate-y: calc(
    --value(--translate- *, [percentage], ratio, [length]) * -1
  );
}

@utility slide-out-to-bottom {
  --tw-exit-translate-y: 100%;
}

@utility slide-out-to-bottom-* {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing));
  --tw-exit-translate-y: --value(--translate- *, [percentage], ratio, [length]);
}

@utility slide-out-to-left {
  --tw-exit-translate-x: -100%;
}

@utility slide-out-to-left-* {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing) * -1);
  --tw-exit-translate-x: calc(
    --value(--translate- *, [percentage], ratio, [length]) * -1
  );
}

@utility slide-out-to-right {
  --tw-exit-translate-x: 100%;
}

@utility slide-out-to-right-* {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing));
  --tw-exit-translate-x: --value(--translate- *, [percentage], ratio, [length]);
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
/* #endregion Animation */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  font-family: var(--font-ibm-plex-sans-thai) !important;

  @apply h-screen border-0 overflow-x-hidden overflow-y-auto font-normal;
}

body {
  @apply font-sans bg-bg-white-0 text-text-strong-950 leading-7;
}

body::-webkit-scrollbar {
  @apply bg-transparent w-2.5;
}

body::-webkit-scrollbar-track {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply bg-bg-sub-300 rounded-4xl bg-clip-padding border-2 border-transparent;
}

* {
  color-scheme: light;

  --tw-light: initial;
  --tw-dark: ;

  @variant dark {
    color-scheme: dark;

    --tw-light: ;
    --tw-dark: initial;
  }
}

.font-display {
  font-family: var(--font-reddit-sans) !important;
}

#sidebar::-webkit-scrollbar,
#search::-webkit-scrollbar {
  @apply bg-transparent w-2.5;
}

#sidebar::-webkit-scrollbar-track,
#search::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#sidebar::-webkit-scrollbar-thumb,
#search::-webkit-scrollbar-thumb {
  @apply rounded-4xl bg-clip-padding border-2 border-transparent;
}

#search::-webkit-scrollbar-thumb {
  @apply bg-bg-soft-200;
}

#sidebar::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

#sidebar:hover {
  @apply bg-transparent;
}

#sidebar:hover::-webkit-scrollbar-thumb {
  @apply bg-bg-soft-200;
}

.code-block::-webkit-scrollbar {
  @apply w-1 h-1 bg-transparent transition-colors duration-200 ease-in-out;
}

.code-block:hover::-webkit-scrollbar {
  @apply w-1 h-1;
}

.code-block::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.code-block::-webkit-scrollbar-thumb {
  @apply bg-transparent rounded-4xl;
}

.code-block:hover::-webkit-scrollbar-thumb {
  @apply bg-bg-soft-200 rounded-4xl;
}

ul, ol, li {
  @apply py-0 my-0;
}

ul, ol {
  @apply gap-4;
}

.main-content > ul,
.main-content > ol,
ul li ul:not(:last-child),
ol li ol:not(:last-child),
ul li ol:not(:last-child),
ol li ul:not(:last-child),
.callout > ul  {
  @apply mb-4;
}

ul li:last-child,
ol li:last-child,
ol li > div:last-child,
ul li > div:last-child,
ul li .callout:last-child,
ol li .callout:last-child,
.callout > *:last-child {
  @apply mb-0;
}

ul li > p:last-child,
ol li > p:last-child,
ul li pre:last-child > div,
ol li pre:last-child > div {
  @apply my-0;
}

.icon-link {
  @apply relative pl-6 -ml-6;
}

.icon-link::before {
  @apply lg:content-['#'] absolute font-mono -translate-x-[150%] block opacity-0 transition-opacity duration-300 ease-in-out;
}

h1:hover .icon-link::before,
h2:hover .icon-link::before,
h3:hover .icon-link::before,
h4:hover .icon-link::before {
  @apply lg:content-['#'] absolute font-mono -translate-x-[150%] block opacity-100;
}

.shiki-themes {
  @apply bg-transparent!;
}

.callout-title p {
  @apply mb-0;
}

.callout[data-callout-type='warning'] a,
.callout[data-callout-type='warning'] .callout-title code ,
.callout[data-callout-type='danger'] a,
.callout[data-callout-type='danger'] .callout-title code {
  @apply text-red-800 dark:text-red-300;
}

.callout[data-callout-type='info'] a,
.callout[data-callout-type='info'] .callout-title code ,
.callout[data-callout-type='tip'] a,
.callout[data-callout-type='tip'] .callout-title code {
  @apply text-orange-800 dark:text-orange-300;
}

.callout-content > p:last-child,
.callout-content > div:last-child {
  @apply mb-0;
}

th, td {
  @apply p-2;
}

table {
  @apply table-fixed min-w-170 border-collapse;
}

table thead tr {
  @apply border-b border-b-stroke-soft-200 align-top bg-bg-weak-50 text-sm [&_code]:text-xs;
}

table tbody tr {
  @apply align-top text-sm [&_code]:text-xs;
}

table tbody tr:not(:last-child) {
  @apply border-b border-b-stroke-soft-200;
}

.table-wrapper::-webkit-scrollbar {
  @apply w-1 h-1 bg-transparent transition-colors duration-200 ease-in-out;
}

.table-wrapper:hover::-webkit-scrollbar {
  @apply w-1 h-1;
}

.table-wrapper::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  @apply bg-transparent rounded-4xl;
}

.table-wrapper:hover::-webkit-scrollbar-thumb {
  @apply bg-bg-soft-200 rounded-4xl;
}
